
.activity-header{

}



.activity-items{
    transition:all 0.5s ease-in-out;
    position: relative;
    width: 30%;
    transition: transform 0.3s ease;
}

.activity-number-unit{
    border: 1px solid  var(--color-primary-yellow);
}

.activity-items p{
    font-weight: bolder;
}

.activity-number{
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-primary-yellow-3);
}

.activity-unit{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    font-family: Fira Sans Condensed,sans-serif;
}


.activity-text-container{
    height: 20rem;
    position: relative;
}


.activity-text-container{
    height: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary-yellow);
}

.activity-text{
    font-size: 1.875rem;
    color: #fff;
    font-weight: bolder;
    font-family: Fira Sans Condensed,sans-serif;
    
}
