
button.app-button {
    border-radius: 100rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: #000;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, var(--color-primary-yellow), var(--color-primary-green));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
  }
  
button.app-button:hover {
    box-shadow: none;
    color: #fff;
  }

button.donate-button{
    border-radius: 100rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background-color: var(--color-primary-yellow-2);
}
button.donate-button:hover{
    background-color: var(--color-primary-yellow-3);

}



button.app-button-rapport {
  border-radius: 100rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  color: #000;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, var(--color-primary-yellow), var(--color-primary-green));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inherit;
}


button.app-button-rapport {
  color: #fff;
  

}



button.app-button-rapport:hover {
  color: #000000;
  box-shadow: 2px 1000px 1px #fff inset;

}




@media only screen and (max-width: 992px) {
  
  button.donate-button ,button.app-button{
    font-size: 10px;
    padding: 0.1rem 0.5rem;
  }
}