
.header-card-main{
  
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)), linear-gradient(10deg, var(--color-primary-yellow), var(--color-primary-yellow));
}
/*
.hearder-card{
    position: relative;
    text-transform: uppercase;
    font-weight: bolder;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, var(--color-primary-yellow), var(--color-primary-green));
    background-origin: border-box;
    padding: 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
*/

.hearder-card h2{
    color: #ffffff;
    font-family: Fira Sans Condensed,sans-serif;
}


.hearder-card .row p:first-child{
  color: var(--color-primary-yellow);
  font-size: 30px;
  font-weight: bolder;
  font-family: Fira Sans Condensed,sans-serif;
  
}

.hearder-card .row p:last-child{
    font-weight: bolder;
    font-family: Fira Sans Condensed,sans-serif;
}


.home-card-actions-h h1{
  font-family: Fira Sans Condensed,sans-serif;
} 


.home-card-actions-h p{
  font-family: Merriweather,serif;
  font-style: italic;

} 

  
/* Our fights section */
.our-fights-section {
    margin-top: 5rem;
}


.join-us-actions input,.join-us-actions input:focus  {

  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, var(--color-primary-yellow), var(--color-primary-green));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}



.our-fights-section .header-fight h1{
  font-family: Fira Sans Condensed,sans-serif;
}



.our-fights-section .header-fight p{
  font-family: Merriweather,serif;
  font-style: italic;
}


.our-fights-card{
    position: relative;
    height: 34rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 3rem;
    color: #fff;
    border-radius: 2rem ;
    -webkit-border-radius: 2rem ;
    -moz-border-radius: 2rem ;
    -ms-border-radius: 2rem ;
    -o-border-radius: 2rem ;
}


.our-fight-card-body{
    position: absolute;
    bottom: 1rem;
    padding: 2rem;
}


.our-fight-card-body h3{
    font-size: 25px;
    display: block;
    color: #ffffff;
    font-weight: bolder;
    line-height: 1.4;
}


/* end Our fights section */



/* Join us section */



.join-us-section{
    margin-top: 3rem;

}


.join-us-actions {
    margin-top: 3rem;
}

.join-us-actions div h3 {
    font-weight: bolder;
    margin-bottom: 1.5rem;
    font-family: Fira Sans Condensed,sans-serif;
    text-transform: uppercase;

}


.join-us-actions >div:first-child{
    border-radius: 1rem;
    transition:all 0.5s ease-in-out;
    padding: 1rem;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, var(--color-primary-yellow), var(--color-primary-green));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
}

.join-us-actions >div:last-child{
    background-color: var(--color-primary-yellow-2);
    border-radius: 1rem;
    transition:all 0.5s ease-in-out;
    padding: 2rem 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
}
/* End Join us section */


/* victoire container */


.victoire-container-header  h1{
  font-family: Fira Sans Condensed,sans-serif;
}



.victoire-container-header p{
  font-family: Merriweather,serif;
  font-style: italic;
}


/* victoire container */
