
.header{

    background-image:
    linear-gradient(to left, rgba(146, 139, 139, 0.452), rgba(0, 0, 0, 0.904)),
    url(assets/images/logo_ong_eicf.png);
    padding: 4rem;
    margin-top: 3rem;
    color: #fff;
    border-radius: 2rem ;
    -webkit-border-radius: 2rem ;
    -moz-border-radius: 2rem ;
    -ms-border-radius: 2rem ;
    -o-border-radius: 2rem ;
}

.header h1{
    font-size: 70px;
}

.header-card-main{
    top: -7rem;
    right: 5rem;
    position: relative;
}

.hearder-card{
    position: relative;
    text-transform: uppercase;
    font-weight: bolder;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, var(--color-primary-yellow), var(--color-primary-green));
    background-origin: border-box;
    padding: 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


.hearder-card h2,.hearder-card .row p:first-child{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
}


.hearder-card .row p:last-child{
    font-weight: bolder;
    
}


/* Our fights section */
.our-fights-section h1{
    font-size: 45px;
    display: block;
    color: #000000;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1.4;
}

.our-fights-card{
    height: 34rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem;
    margin-top: 3rem;
    color: #fff;
    border-radius: 2rem ;
    -webkit-border-radius: 2rem ;
    -moz-border-radius: 2rem ;
    -ms-border-radius: 2rem ;
    -o-border-radius: 2rem ;
}


/* end Our fights section */


