@import url("~leaflet/dist/leaflet.css");

:root{
  --color-primary-green: #76b72a;
  --color-primary-green-2: #f2ffe8;
  --color-primary-yellow: #e6ba04;
  --color-primary-yellow-2: #ffcc33;
  --color-primary-yellow-3: #f8a655;
  --bg-gradiant-primary:  linear-gradient(90deg, var(--color-primary-yellow)  0%,  var(--color-primary-green) 100%);
};
  

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



body {
    background-color: #fff;
    font-family: Source Sans Pro,sans-serif;
    color: #323c47;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.element-title-header{
  font-weight: bolder;
  margin-bottom: 1.875rem;
  font-family: Fira Sans Condensed,sans-serif;
}

.element-title-paragraph{

font-family: Merriweather,serif;
font-style: italic;
}
