
 nav  .nav-logo-container{
    height: 5rem;
    width: 2rem;
    display: none !important;
 }

ul{
    list-style: none ;
    text-transform: uppercase;
    display: flex;
    font-weight: bolder;
}

li{
    margin: 0 5px;
    font-weight: bolder;
    font-size: 11px;
}

.navbar_divider{
    display: block;
    height: 5px;
    background: var(--bg-gradiant-primary);
}
